---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contacto">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contacto</Fragment>
      <Fragment slot="desc">Estamos aqui para ajudar =)</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl">Contactar o estúdio</h2>
        <p class="text-lg leading-relaxed mt-3">
          Estamos aqui para ajudar. Preenche o formulário ou envia e-mail.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="w-4 h-4" name="uil:map-marker" />
            <span>Rua da Ponta da Cruz 2, Funchal</span>
          </div>
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com"
              >estudio.nodoanegra@gmail.com</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
