<div class="mt-16 md:mt-0">
  <h3 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Para quem se destina
  </h3>
  <p class="text-lg mt-4 text-slate-800">
    Acreditamos que os nossos serviços de treino personalizado são destinados a todas as pessoas que desejam um atendimento personalizado, orientação especializada, privacidade e segurança.<br>
    Queremos acolher-te se estás comprometido em melhorar a tua condição física, independentemente do teu nível de experiência ou habilidade.
  </p>
  <p class="text-lg mt-4 text-slate-800">
    Se valorizas um ambiente tranquilo, onde podes concentrar-te nos teus objetivos pessoais, receber atenção individualizada e sentir-te confortável durante todo o processo, estamos aqui para te atender. O nosso estúdio é um espaço projectado para proporcionar-te uma experiência única, onde te sentirás apoiado e motivado a alcançar os teus resultados desejados.
  </p>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-10">
    Os nossos treinos
  </h2>
  <p class="text-lg mt-4 text-slate-800">
    Oferecemos dois modos distintos de treino personalizado para atender às tuas necessidades individuais:
  </p>
  <h3 class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-10">
    Pequenos grupos de treino personalizado 1:3
  </h3>
  <p class="text-lg mt-4 text-slate-800">
    Realizamos treinos personalizados em pequenos grupos, com um máximo de 3 clientes simultaneamente, em que cada grupo é acompanhado por um treinador dedicado, que oferece atenção individualizada a cada participante.
  </p>
  <p class="text-lg mt-4 text-slate-800">
    Esta abordagem permite que aproveites os benefícios do treino personalizado, enquanto desfrutas de uma atmosfera motivadora e de apoio mútuo com os outros membros do grupo.
  </p>
  <p class="text-lg mt-4 text-slate-800">Mantemos os grupos intencionalmente pequenos para garantir que recebas a orientação necessária para atingires os teus objetivos de forma eficaz.
  </p>
  <h3 class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-10">
    Treino personalizado 1:1
  </h3>
  <p class="text-lg mt-4 text-slate-800">
    O nosso modo individual é ideal para situações em que buscas um atendimento exclusivo, como em casos médicos específicos ou quando valorizas a máxima privacidade durante os treinos.
  </p>
  <p class="text-lg mt-4 text-slate-800">
    Nesse formato, terás um treinador dedicado exclusivamente a ti. O treinador irá criar um programa personalizado, levando em consideração as tuas metas, a tua condição física atual e as tuas necessidades específicas.
  </p>
  <p class="text-lg mt-4 text-slate-800">Esta abordagem individualizada permite uma atenção ainda mais focada no teu progresso, garantindo que cada treino seja adaptado às tuas capacidades e limitações.
  </p>
</div>
