---
import { Picture } from "@astrojs/image/components";
const images = await Astro.glob('../../public/estudio/*.jpeg');
---

<div class="container mx-auto">
    <div class="-m-1 flex flex-wrap md:-m-2">
      {images.map((image) => (
      <div class="flex w-1/2 md:w-1/3 lg:w-1/4 flex-wrap">
        <div class="w-full p-1">
          <Picture
            src={image.default.src}
            widths={[200, 400, 800]}
            sizes="(max-width: 400px) 100vw, 800px"
            aspectRatio="4032:3024"
            loading="eager"
            format="avif"
            alt="Estúdio Nódoa Negra"
          />
        </div>
      </div>
      ))}
    </div>
</div>